.detailed{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-auto-rows: auto;
  background: #007998;
  text-align: left;
}
.detailed > section{
  margin: 15px;
}
.detailed > section > hr{
  color: rgba(0, 55, 86, 0.8); 
}